.popup__item-error{
    display: block;
    margin: 0 36px;
    max-width: 358px;
    height: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color: rgba(255, 0, 0, 1);
}

@media screen and (max-width: 880px) {
    .popup__item-error {
        margin: 0 22px;
    }
}